*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
:root{

    --blue: #287bff;
    --white: #fff;
    --gary: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: #e0e4eb;
}
.topmenu{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: var(--blue);
}
.footer{
    position: relative;
    top: 560px;
    background: #000;
    height: 10px;
}